.modal {
    position: fixed;
    z-index: 200;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: initial;
    color: #4a4d50;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-container {
    width: 100%;
    min-width: 600px;
    max-width: 700px;
    animation-duration: 0.5s;
    position: relative;
}
.modal-container > .card {
    border-radius: 5px;
    padding: 20px;
    background-color: white;
}
.modal-container > .card > .overflow-auto {
    max-height: 53vh;
    min-height: 20vh;
    display: flex;
    align-items: center;
}
.modal-container * {
    word-break: keep-all;
}
.modal-content-xs {
    width: 490px;
}
.modal-content {
    overflow: auto;
    padding: 20px 0;
}
.modal-content.modal-content-no-padding {
    padding: 0;
}
.modal-slide {
    min-width: 300px;
    max-width: 710px;
    animation-duration: 0.5s;
    position: absolute;
    right: 0;
}
.modal-head {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.modal-head h3 {
    word-break: keep-all;
}
.modal-action {
    position: relative;
    bottom: 0;
    left: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px 20px 0;
    box-sizing: border-box;
    text-align: right;
}
.modal-close-btn {
    position: absolute;
    right: -40px;
    top: 0px;
    padding: 3px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 0px;
    background-color: #ff6666;
    border-radius: 3px;
}
.modal-close-btn:hover {
    border: 0px;
    background-color: #e92525;
}
.modal-close-btn i {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 20px;
    transition: color 0.2s;
    vertical-align: top;
}
.modal-layout-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}
